<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="../../static/css/standard.css" th:href="@{/css/standard.css}">
		<link rel="stylesheet" href="../../static/css/tracks.css" th:href="@{/css/tracks.css}">
		<title th:text="|${pageTitle} - #{application.title}|">title</title>

		<style>
			#idolList .idol {
				width: 100%;
				border-style: none;
				border-radius: 8px;
				color: #fff;
				text-align: left;
			}

			#idolList .typeAl {
				background: linear-gradient(60deg, #77f, #f8f, #fc4);
			}

			#idolList .typeCu {
				background: linear-gradient(90deg, #d3d, #fcf);
			}

			#idolList .typePa {
				background: linear-gradient(90deg, #d80, #ff7);
			}
			
			#idolList .typeCo {
				background: linear-gradient(90deg, #33d, #aaf);
			}

			#idolList .kana {
				padding-left: 4px;
				font-size: smaller;
				font-weight: 100;
			}
		</style>

		<script type="module">
			import * as Utility     from "[[@{/js/utility.js}]]";
			import * as Tracks      from "[[@{/js/tracks.js}]]";
			import {Tag, TagLoader} from "[[@{/js/classes/tag.js}]]";

			const searchForm = Tag.find("searchForm");
			const targetsTab = Tag.find("targetsTab");
			const idolList =   Tag.find("idolList");

			const formatName = row => {
				const div = Tag.newDiv();
				Tag.newDiv("kana").append(row.kana).into(div);
				Tag.newButton(`idol type${row.type}`).set("value", row.id).append(row.name).into(div);
				return div;
			};

			const formatBirth = row => Utility.insert(row.birth, 2, "-");

			searchForm.listen("submit", event => {
				event.preventDefault();
				const parameters = searchForm.extractParameters();
				const query = parameters.createQuery();

				fetch(`[[@{/api/idols/}]]?${query}`)
					.then(response => {
						if (response.status !== 200) {
							throw `検索に失敗しました。(${response.status})`;
						}

						return response.json();
					})
					.then(json => {
						idolList.clear();

						json.forEach(row => TagLoader.loadTd(Tag.newTr())
							.load(formatName(row))
							.load(formatBirth(row))
							.load(row.cv)
							.into(idolList)
						);

						window.scrollTo(0, 0);
						targetsTab.element.click();
					})
					.catch(error => alert(error));
			});

			idolList.listen("click", event => {
				const target = Tag.of(event.target);

				if (!target.value || !target.hasClasses("idol")) {
					reurn;
				}

				fetch(`[[@{/api/idols/}]]${target.value}/tracks/`)
					.then(response => {
						if (response.status !== 200) {
							throw `検索に失敗しました。(${response.status})`;
						}

						return response.json();
					})
					.then(json => Tracks.build(json))
					.catch(error => alert(error));
			});
		</script>
	</head>

	<body>
		<header th:replace="tracks/common :: header(~{::form})" class="container">
			<form id="searchForm" class="my-2 p-2 bg-light border rounded">
				<div class="row align-items-center">
					<div class="col-auto pe-1">
						<select name="target" class="form-select">
							<option value="name" selected>名前</option>
							<option value="kana">かな</option>
						</select>
					</div>

					<div class="col-auto ps-1">
						<input name="match" type="text" class="form-control" autofocus>
					</div>

					<div class="col-auto">
						タイプ
					</div>

					<div class="col-auto">
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input name="type" type="radio" value="" class="form-check-input" checked> All
							</label>
						</div>

						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input name="type" type="radio" value="Cu" class="form-check-input"> Cu
							</label>
						</div>

						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input name="type" type="radio" value="Pa" class="form-check-input"> Pa
							</label>
						</div>

						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input name="type" type="radio" value="Co" class="form-check-input"> Co
							</label>
						</div>
					</div>

					<div class="col text-end">
						<button type="submit" class="btn btn-primary">検索</button>
					</div>
				</div>
			</form>
		</header>

		<main th:replace="tracks/common :: main(~{::table})" class="container">
			<table class="table w-auto">
				<thead>
					<tr>
						<th scope="col" style="width: 16em;">名前 / かな</th>
						<th scope="col" style="width: 4em;">誕生日</th>
						<th scope="col" style="width: 16em;">CV</th>
					</tr>
				</thead>
				<tbody id="idolList"></tbody>
			</table>
		</main>

		<footer th:replace="index :: footer"></footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>
