<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="../../static/css/standard.css" th:href="@{/css/standard.css}">
		<link rel="stylesheet" href="../../static/css/tracks.css" th:href="@{/css/tracks.css}">
		<title th:text="|${pageTitle} - #{application.title}|">title</title>

		<style>
			#musicList .music {
				width: 100%;
				border-style: none;
				border-radius: 8px;
				background: linear-gradient(90deg, #444, #ccc);
				color: #fff;
				text-align: left;
			}

			#musicList .kana {
				padding-left: 4px;
				font-size: smaller;
				font-weight: 100;
			}
		</style>

		<script type="module">
			import * as Tracks      from "[[@{/js/tracks.js}]]";
			import {Tag, TagLoader} from "[[@{/js/classes/tag.js}]]";

			const searchForm = Tag.find("searchForm");
			const musicList  = Tag.find("musicList");
			const targetsTab = Tag.find("targetsTab");

			const formatName = row => {
				const div = Tag.newDiv();
				Tag.newDiv("kana").append(row.kana).into(div);
				Tag.newButton("music").set("value", row.id).append(row.name).into(div);
				return div;
			}

			const formatCover = row => row.cover ? Tag.newIcon("bi bi-chat-square-quote") : null;

			searchForm.listen("submit", event => {
				event.preventDefault();
				const parameters = searchForm.extractParameters();
				const query = parameters.createQuery();

				fetch(`[[@{/api/musics/}]]?${query}`)
					.then(response => {
						if (response.status !== 200) {
							throw `検索に失敗しました。(${response.status})`;
						}

						return response.json();
					})
					.then(json => {
						musicList.clear();

						json.forEach(row => TagLoader.loadTd(Tag.newTr())
							.load(formatName(row))
							.load(row.lyrics)
							.load(row.compose)
							.load(formatCover(row))
							.into(musicList)
						);

						window.scrollTo(0, 0);
						targetsTab.element.click();
					})
					.catch(error => alert(error));
			});


			musicList.listen("click", event => {
				const target = Tag.of(event.target);

				if (!target.value || !target.hasClasses("music")) {
					reurn;
				}

				fetch(`[[@{/api/musics/}]]${target.value}/tracks/`)
					.then(response => {
						if (response.status !== 200) {
							throw `検索に失敗しました。(${response.status})`;
						}

						return response.json();
					})
					.then(json => Tracks.build(json))
					.catch(error => alert(error));
			});
		</script>
	</head>

	<body>
		<header th:replace="tracks/common :: header(~{::form})" class="container">
			<form id="searchForm" class="h-100 mb-2 p-2 bg-light border rounded-bottom">
				<div class="row align-items-center">
					<div class="col-auto pe-1">
						<select name="target" class="form-select">
							<option value="name" selected>名前</option>
							<option value="kana">かな</option>
							<option value="lyrics">作詞</option>
							<option value="compose">作曲</option>
						</select>
					</div>

					<div class="col-auto ps-1">
						<input name="match" type="text" class="form-control" autofocus>
					</div>

					<div class="col-auto">
						<label>
							<input name="original" type="checkbox" value="1" class="form-check-input"> カバーを除く
						</label>
					</div>

					<div class="col text-end">
						<button type="submit" class="btn btn-primary">検索</button>
					</div>
				</div>
			</form>
		</header>

		<main th:replace="tracks/common :: main(~{::table})" class="container">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" style="width: 32em;">名前 / かな</th>
						<th scope="col">作詞</th>
						<th scope="col">作曲</th>
						<th scope="col" style="width: 3em; white-space:nowrap;">カバー</th>
					</tr>
				</thead>
				<tbody id="musicList"></tbody>
			</table>
		</main>

		<footer th:replace="index :: footer"></footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>
