<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="../static/css/standard.css" th:href="@{/css/standard.css}">
		<title th:text="|${pageTitle} - #{application.title}|">title</title>
	</head>

	<body>
		<header class="sticky-top m-0 p-0 bg-white">
			<nav th:fragment="header-nav"
				class="navbar navbar-expand-sm navbar-dark m-0 mb-2"
				style="background: linear-gradient(#fff, #444 20%, #000);">

				<div class="container-fluid">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link px-2 py-0" th:href="@{/}">Cinderella DB</a>
						</li>

						<li class="nav-item dropdown">
							<a id="headerNavTracks"
								class="nav-link px-2 py-0 dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false">Tracks</a>

							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-sm-end" aria-labelledby="headerNavTracks">
								<li><a class="dropdown-item" href="tracks/by-idol.html" th:href="@{/tracks/by-idol/}">Find by Idol</a></li>
								<li><a class="dropdown-item" href="tracks/by-music.html" th:href="@{/tracks/by-music/}">Find by Music</a></li>
								<li><a class="dropdown-item" href="tracks/by-disc.html" th:href="@{/tracks/by-disc/}">Find by Disc</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a id="headerNavHistories"
								class="nav-link px-2 py-0 dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false">Histories</a>

							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-sm-end" aria-labelledby="headerNavHistories">
								<li><a class="dropdown-item disabled" href="#">Elections</a></li>
								<li><a class="dropdown-item disabled" href="#">Lives</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a id="headerNavUtility"
								class="nav-link px-2 py-0 dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false">Utility</a>

							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-sm-end" aria-labelledby="headerNavUtility">
								<li><a class="dropdown-item disabled" href="#">Anticipation</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>

			<div class="container">
				<h1 class="fs-3" th:text="#{application.title}">title</h1>
			</div>
		</header>

		<main class="container mb-5">
			<div>
				<p>Cinderella DBにようこそ。</p>
				<p>……まだ全然、工事中だけどね。</p>
			</div>

			<div>
				<p><code>Tracks</code> メニューはできたみたいよ！</p>
			</div>
		</main>

		<footer th:fragment="footer"
			class="fixed-bottom px-3 py-2 text-white-50 text-end"
			style="background: linear-gradient(#fff, #444 20%, #000);">

			made by STB a.k.a. Satomaru <a href="https://twitter.com/stb_nissie"><i class="bi bi-twitter"></i></a>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>
