<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
		<link rel="stylesheet" th:href="@{/standard.css}">

		<title>Tracks - Cinderella DB</title>

		<style>
			button[class^="btn type-"] {
				width: 12em;
			}
		</style>

		<script>
			function showTable(button) {
				document.getElementById("idolsTable").style.display = (button.id === "navIdolsTab") ? "table" : "none";
				document.getElementById("songsTable").style.display = (button.id === "navSongsTab") ? "table" : "none";
				document.getElementById("discsTable").style.display = (button.id === "navDiscsTab") ? "table" : "none";
			}

			function searchIdols() {
				const form = document.getElementById("idolsForm");
				const target = encodeURI(form.target.value);
				const match = encodeURI(form.match.value);
				const type = encodeURI(form.type.value);
				const table = document.getElementById("idolsTable");
				const tbody = table.getElementsByTagName("tbody")[0];

				fetch(`api/idols/?target=${target}&match=${match}&type=${type}`)
					.then(function(response){
						if (response.status !== 200) {
							throw `検索に失敗しました。(${response.status})`;
						}

						return response.text();
					})
					.then(function(text) {
						tbody.innerText = null;

						JSON.parse(text).forEach(function(row) {
							const buttonName = document.createElement("button");
							const tdName = document.createElement("td");
							const tdKana = document.createElement("td");
							const tdBirth = document.createElement("td");
							const tdCv = document.createElement("td");
							const tr = document.createElement("tr");

							buttonName.type = "button";
							buttonName.className = `btn type-${row.type}`;
							buttonName.innerText = row.name;

							tdName.appendChild(buttonName);
							tdKana.innerText = row.kana;
							tdBirth.innerText = row.birth.substring(0, 2) + "-" + row.birth.substring(2, 4);
							tdCv.innerText = row.cv;

							tr.appendChild(tdName);
							tr.appendChild(tdKana);
							tr.appendChild(tdBirth);
							tr.appendChild(tdCv);
							tbody.appendChild(tr);
						});
					})
					.catch(function(error) {
						alert(error);
					});
			}
		</script>
	</head>

	<body>
		<header id="pageHeader" class="sticky-top">
			<nav class="navbar navbar-expand-sm navbar-dark">
				<div class="container-fluid">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" th:href="@{/}">Cinderella DB</a></li>
						<li class="nav-item"><span class="nav-link active" aria-current="page">Tracks</span></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/elections}">Elections</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/lives}">Lives</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/utility}">Utility</a></li>
					</ul>
				</div>
			</nav>

			<div class="container mb-0 bg-white">
				<nav>
					<div class="nav nav-tabs" role="tablist">
						<button id="navIdolsTab"
							class="nav-link active"
							data-bs-toggle="tab"
							data-bs-target="#idolsForm"
							type="button"
							role="tab"
							aria-controls="idolsForm"
							aria-selected="true"
							onclick="showTable(this);"><i class="bi bi-person-circle"></i> By Idol</button>

						<button id="navSongsTab"
							class="nav-link"
							data-bs-toggle="tab"
							data-bs-target="#songsForm"
							type="button"
							role="tab"
							aria-controls="songsForm"
							aria-selected="false"
							onclick="showTable(this);"><i class="bi bi-music-note-list"></i> By Song</button>

						<button id="navDiscsTab"
							class="nav-link"
							data-bs-toggle="tab"
							data-bs-target="#discsForm"
							type="button"
							role="tab"
							aria-controls="discsForm"
							aria-selected="false"
							onclick="showTable(this);"><i class="bi bi-disc"></i> By Disc</button>
					</div>
				</nav>

				<div class="tab-content">
					<form id="idolsForm"
						class="tab-pane show active h-100 p-2 mb-2 bg-light border rounded-bottom"
						role="tabpanel"
						aria-labelledby="navIdolsTab"
						onsubmit="return false;">

						<div class="row align-items-center">
							<div class="col-auto">
								<select name="target" class="form-select">
									<option value="name" selected>名前</option>
									<option value="kana">かな</option>
								</select>
							</div>
							<div class="col-auto">
								<input name="match" type="text" class="form-control" autofocus>
							</div>
							<div class="col-auto">
								タイプ
							</div>
							<div class="col-auto">
								<div class="form-check form-check-inline">
									<input id="typeAll" name="type" type="radio" value="" class="form-check-input" checked>
									<label class="form-check-label" for="typeAll">All</label>
								</div>
								<div class="form-check form-check-inline">
									<input id="typeCu" name="type" type="radio" value="Cu" class="form-check-input">
									<label class="form-check-label" for="typeCu">Cu</label>
								</div>
								<div class="form-check form-check-inline">
									<input id="typePa" name="type" type="radio" value="Pa" class="form-check-input">
									<label class="form-check-label" for="typePa">Pa</label>
								</div>
								<div class="form-check form-check-inline">
									<input id="typeCo" name="type" type="radio" value="Co" class="form-check-input">
									<label class="form-check-label" for="typeCo">Co</label>
								</div>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-primary" onclick="searchIdols()">検索</button>
							</div>
						</div>
					</form>

					<form id="songsForm"
						class="tab-pane h-100 p-2 mb-2 bg-light border rounded-bottom"
						role="tabpanel"
						aria-labelledby="navSongsTab"
						onsubmit="return false;">

						<div class="row align-items-center">
							<div class="col-auto">
								<select name="target" class="form-select">
									<option value="name" selected>名前</option>
									<option value="kana">かな</option>
								</select>
							</div>
							<div class="col-auto">
								<input name="match" type="text" class="form-control" autofocus>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-primary">検索</button>
							</div>
						</div>
					</form>

					<form id="discsForm"
						class="tab-pane h-100 p-2 mb-2 bg-light border rounded-bottom"
						role="tabpanel"
						aria-labelledby="navDiscsTab"
						onsubmit="return false;">

						<div class="row align-items-center">
							<div class="col-auto">
								<select name="target" class="form-select">
									<option value="name" selected>名前</option>
									<option value="kana">かな</option>
								</select>
							</div>
							<div class="col-auto">
								<input name="match" type="text" class="form-control" autofocus>
							</div>
							<div class="col" style="text-align: right;">
								<button type="button" class="btn btn-primary">検索</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</header>

		<div id="pageContent" class="container">
			<table id="idolsTable" class="table">
				<thead>
					<tr>
						<th scope="col">名前</th>
						<th scope="col">かな</th>
						<th scope="col">誕生日</th>
						<th scope="col">CV</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<table id="songsTable" class="table" style="display: none;">
				<thead>
					<tr>
						<th scope="col">名前</th>
						<th scope="col">かな</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<table id="discsTable" class="table" style="display: none;">
				<thead>
					<tr>
						<th scope="col">名前</th>
						<th scope="col">かな</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<footer id="pageFooter" class="fixed-bottom">
			made by STB a.k.a. Satomaru <a href="https://twitter.com/stb_nissie"><i class="bi bi-twitter"></i></a>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>
